.oneliner {
    max-width: 40ch;
    font-size: 16px;
    word-spacing: 0.1em;
}
.heading{
  font-size: 60px;
  color: #fff;
  padding-left: 10%;
}
.subHeading{
  margin: 0 0 1rem 5%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

button {
  border: #181a19 solid 1px;
  width: 150px;
  background: #181a19;
  color: rgba(249, 248, 113,.8);
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  border-color: #f9f871;
  border-style: solid;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease; 
}
button:hover{
  color: #181a19;
  background:#f9f871;
}
.parent{
  display: flex;
}
.left{
  width:60%;
  background-color: rgba(24,26,25,.5);
  backdrop-filter: blur(6px);
  translate: 15% 7%;
  z-index: 1;
}
.right{
  width:60%;
}
.right img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}


@media screen and (max-width:768px){
    .heading{
      font-size: 2rem;
      color: #fff;
      padding-left: 10%;
    }
    .parent{
        flex-direction:column;
    }

    .left {
        width: 75%;
        background: rgba(24, 26, 25, 1);
        padding:5%;
    }

    .heading {
        padding-left:0;
    }

    .right {
        width: 80%;
    }

    .right img{
        height:50vh;
        transform:translateY(-10%);
        position:relative;
        z-index:-1;
        background:rgba(24, 26, 25, 0.5);
    }
}
