body {
    margin: 0;
    
}
.headerwrap{ 
    padding:15px; 
}

/* .line{
    border: 1px solid #c9cccb;
    width: 80%;
} */
.nav {
    display:flex;
    flex-direction:row ;
    align-items: center;
}
.nav .logo{
   padding: 10px 20px 20px 10px;
}

.nav .logo img{
    height:100px
}   
.nav .navmenu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    width: 100%;
    padding-bottom: 1%;
    border-bottom: 2px solid #c9cccb;
}
.nav .navmenu li{
    padding:10px;
    font-size: x-large ; 
    font-family:  'Playfair Display',sans-serif;    ;
       
}
.nav .navmenu li a{
    color: #c9cccb;
    text-decoration: none; 
    padding-left: 10px;   
}
.nav .navmenu li a:after{
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.nav .navmenu li a:hover:after {
    width: 100%;
    background: #f9f871;
}
.nav .hamburger{
    display: none;
    background-color: #181a19;
    box-shadow: none;
}
.nav .hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #f9f871;
}
@media only screen and (max-width: 768px) {
    .nav .navmenu {
        display: none;
        position: fixed;
        z-index:3;
        left: 0;
        top:4.5rem;
        flex-direction: column;
        background-color: #282a29;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav .navmenu .navitems{
        border-bottom:  #c9cccb;
    }
    .nav .navmenu.active {
        display:block;
    }
    .nav .hamburger {
        display: block;
        cursor: pointer;
    }
    .nav .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .nav .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .nav .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}