.carousel{
    display: flex;
    flex-direction: column; 
    gap: 20px;
    justify-content: space-between;
}

.teamstruct{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.para1{
    width: 600px;
}


.carousel{
    display: flex;
    flex-direction: column; 
    gap: 20px;
    justify-content: space-between;
}

.teamstruct{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.para1{
    width: 600px;
}

.carousel_image {
    width: 400px;
    height: 400px;
}

.infoBox:hover {
    transform: scale(1.1);
}

.infoBox {
    align-content: center;
    box-sizing: border-box;
    background-color: #181a19;
    color: #f9f871;
    border: 5px solid #f9f871;
    border-radius: 1px;
    opacity: 10;
    padding: 20px;
    width: 290px;
    height: 450px;
    transition: transform .2s;
    position: relative;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    text-align: center;
}

.socials2 {
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.socials2 img{
    width: 25px;
    height: 25px;
}

.blurbox {
    position: relative;
    top: -70px;
    box-sizing: border-box;
    width: 600px;
    height: 50px;
    padding: 50px;
    border: 100px;
    text-align: center; 
    position: relative;
    top: -70px;
    box-sizing: border-box;
    width: 600px;
    height: 50px;
    padding: 50px;
    border: 100px;
    text-align: center; 
    border-radius: 5%;
    z-index: 1;
    background-color: rgba(24,26,25,.5);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: white;
    }
}

.typewriter2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing2 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing2 {
    from {
        width: 0
    }

    to {
        width: 50%
    }
}

.arrow {
    transition: transform .2s;
    height: 60px;
    width: 60px;
    align-self: center;
    border: none;
}

    .arrow:hover {
        transform: scale(1.2);
    }

.profile {
    position: relative;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.typing-demo {
    width: 18ch;
    animation: typin 2s steps(19) 2s, blink .5s step-end 2s infinite alternate, appear 0s linear 2s forwards;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    opacity: 0;
}

@keyframes typin {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

@keyframes appear {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/*.blurbox {
    position: relative;
    top: -70px;
    box-sizing: border-box;
    width: 600px;
    height: 50px;
    padding: 50px;
    border: 100px;
    text-align: center; 
    border-radius: 5%;
    z-index: 1;
    background-color: rgba(24,26,25,.5);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}*/

.whatisace{
    position: relative;
    left: 120px;
}

.everything{
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.acepic{
    display: none;
}

@media screen and (max-width:768px){
    html, body {
        overflow-x: hidden;
        width: 100%;
    }
    body {
        position: relative;
    }
    .everything{
        display: flex;
        flex-direction: column;
        gap: 300px;
        align-items: center;
    }
    .blurbox{
        text-align: center;;
        display: flex;
        gap: 1px;
        align-content: space-evenly;
        flex-direction: column;
        backdrop-filter: blur(0px);
    }
    .acepara{
        margin-left: 80px;
        margin-right: 80px;
    }
    .whatisace{
       position: relative;
       left: 5px;
       top: -20px; 
    }
    .carousel{
        display: none;
    }
    .para1{
        width: 350px;
    }
    .whatisaceimage{
        display: none;
    }
    .acepic{
        display:unset;
        position: relative;
        top: -10px;
    }
}

/*.blurbox {
    position: relative;
    top: -70px;
    box-sizing: border-box;
    width: 600px;
    height: 50px;
    padding: 50px;
    border: 100px;
    text-align: center; 
    border-radius: 5%;
    z-index: 1;
    background-color: rgba(24,26,25,.5);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}*/

.whatisace{
    position: relative;
    left: 120px;
}

.everything{
    display: flex;
    flex-direction: column;
    gap: 300px;
}

.acepic{
    display: none;
}

@media screen and (max-width:768px){
    html, body {
        overflow-x: hidden;
        width: 100vw;
    }
    body {
        position: relative;
    }
    .everything{
        display: flex;
        flex-direction: column;
        gap: 400px;
        align-items: center;
    }
    .blurbox{
        text-align: center;;
        display: flex;
        gap: 1px;
        align-content: space-evenly;
        flex-direction: column;
        backdrop-filter: blur(0px);
    }
    .acepara{
        margin-left: 80px;
        margin-right: 80px;
    }
    .whatisace{
       position: relative;
       left: 5px;
       top: -20px; 
    }
    .carousel{
        display: none;
    }
    .para1{
        width: 350px;
    }
    .whatisaceimage{
        display: none;
    }
    .acepic{
        display:unset;
        position: relative;
        top: -10px;
    }
}
